@import '/styles/__main';
@import '/styles/0_variables.scss';

.wrapper {
    position: relative;
    min-height: calc(100vh - 95px);

    margin-bottom: 100px;
    // @include media(sm) {
    //     margin-bottom: 142px;
    // }

    // @include media(lg) {
    //     margin-bottom: 122px;
    // }

    .heroImage {
        width: 100%;
        min-height: calc(100vh - 95px);
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    .contentWrapper {
        padding: 40px 0 0;
        max-width: $max-container-width;

        @include media(sm) {
            padding: 50px 0 0;
        }

        @include media(md) {
            padding: 4vh 0 0;
        }
        @include media(lg) {
            padding: 8vh 0 0;
        }
        @include media(xl) {
            padding: 10vh 0 0;
        }

        @include mediaHeight(sm) {
            padding: 0;
        }
    }

    .title {
        font-weight: 800;
        font-size: 40px;
        line-height: 55px;
        color: $white;

        @include media(sm) {
            font-weight: 800;
            font-size: 80px;
            line-height: 110px;
            color: $white;
            max-width: 542px;
        }
    }
    .text {
        color: $white;
        max-width: 542px;
        font-size: 16px;
        line-height: 22px;
    }
}
.sectionStyles {
    margin-top: 0;
    margin-bottom: 90px;
    display: flex;
    flex-direction: column;
}
