@import '/styles/__main';
@import '/styles/0_variables.scss';

.videoSection {
    padding-bottom: 0;
    @include media(md) {
        padding-bottom: 30px;
    }

    .linkDesktop {
        display: none;
        margin-top: 30px;

        @include media(md) {
            display: inline-block;
        }
    }

    .linkMobile {
        display: block;
        margin-top: 30px;
        font-size: 16px;

        @include media(md) {
            display: none;
        }
    }

    .videoSectionWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        position: relative;
        @include media(md) {
            flex-direction: row;
            align-items: unset;
            gap: 50px;
            justify-content: flex-start;
        }

        .videoSectionContent {
            flex-basis: 40%;

            .videoSectionParagraph {
                margin: 0;
            }
        }
        .videoSectionVideoWrapper {
            width: 100%;
            height: 100%;
            height: 300px;
            @include media(md) {
                width: 50vw;
                height: 340px;
            }
            @include media(lg) {
                height: 400px;
            }
            @include media(xxl) {
                height: 420px;
            }
        }
    }
}
