@import '/styles/__main';
@import '/styles/0_variables.scss';

.contactWrapper {
    width: 100%;

    .contactMainHeading {
        margin-top: 100px;
    }

    .contactContainer {
        display: flex;
        flex-direction: column;

        @include media(sm) {
            flex-direction: row;
        }

        .contactDetails {
            display: flex;
            flex: 1;
            flex-direction: column;
            align-items: flex-start;

            .networksContainer {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .socialIcon {
                cursor: pointer;
                margin-left: 5px;
            }

            .contactDetailsSection {
                margin-bottom: 20px;

                .contactDetailsSectionHeading {
                    margin: 0 0 5px 0;
                }

                .item {
                    margin: 0 0 4px 0;
                    padding: 0;
                    font-size: 16px;
                }

                .itemLink {
                    display: block;
                    font-size: 16px;
                    margin-bottom: 6px;
                    color: $primary-blue;

                    &:hover {
                        color: $primary-red;
                        transition: 0.2s ease-in;
                    }
                }
            }
        }

        .contactForm {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;

            input {
                width: 100%;
                padding: 20px;
                border: 1px solid $primary-blue;
                margin: 10px 0;
            }

            textarea {
                width: 100%;
                margin: 20px 0 0 0;
                border: 1px solid $primary-blue;
                padding: 20px;
                resize: none;
            }

            .attachment {
                cursor: pointer;
                color: $primary-blue;
                margin: 25px 0;

                .attachButton {
                    color: $primary-blue;
                }
            }

            .sendLink {
                width: 100%;
                padding: 20px;
                color: $primary-blue;
                border: 1px solid $primary-blue;
                margin-top: 30px;
                text-decoration: none;
                text-align: center;
                cursor: pointer;

                &:hover {
                    color: $primary-red;
                    transition: 0.2s ease-in;
                    background-color: $primary-gray;
                }
            }
        }
    }
}
