@import '/styles/__main';
@import '/styles/0_variables.scss';

.header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 95px;
    position: sticky;
    top: 0px;
    z-index: 200;
    background: linear-gradient(-60deg, $primary-blue 50%, $white 50%);
    transition: top 0.3s;
    color: $primary-blue;

    &.visible {
        top: 0;
    }

    &.hidden {
        top: -100px;
    }
    @include media(sm) {
        background: linear-gradient(-60deg, $primary-blue 60%, $white 60%);
        color: $white;
    }
}

.headerContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: $max-container-width;
    top: 0;
    left: 0;

    img {
        max-width: 125px;
        @include media(sm) {
            max-width: unset;
        }
    }

    .isOpen {
        @media (max-width: 768px) {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 0;
            left: 0;
            background: $dimmed;
            width: 100vw;
            align-items: center;
            z-index: 101;
            a,
            > div {
                padding: 10px;
            }
        }
    }

    nav {
        display: none;

        a {
            display: flex;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 700;
            color: $primary-blue;
            align-items: center;
            font-size: 10px;
            position: relative;

            @include media(sm) {
                font-size: 13px;
            }

            @include media(md) {
                color: $white;
            }

            // this should be the same as DropdownHeader .isActive
            &.active {
                &::before {
                    content: '';
                    position: absolute;
                    background-color: $white;
                    width: 100%;
                    height: 2px;
                    bottom: 2px;
                    border-radius: 16px;
                    left: 0;
                    @include media(md) {
                        bottom: -4px;
                    }
                }
            }

            &:hover {
                color: $primary-blue;
            }
        }

        @include media(md) {
            display: flex;
            flex-direction: row;
            width: 100vw;
            gap: 14px;
            justify-content: flex-end;
            align-items: center;
            margin-left: 25px;
        }

        @include media(lg) {
            gap: 20px;
            justify-content: flex-end;

            a {
                font-size: 16px;
            }
        }
    }

    .hamburgerWrapper {
        display: block;
        color: $white;
        z-index: 102;
        @include media(md) {
            display: none;
        }
    }
}
