@import '/styles/__main';
@import '/styles/0_variables.scss';

.mainHeadingContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-self: center;

    .subHeadingDark,
    .subHeadingLight {
        font-size: 20px;
        padding: 0;
        margin: 0;

        @include media(sm) {
            font-size: 24px;
        }
    }

    .subHeadingDark {
        color: $primary-red;
        font-weight: 400;
    }
    .subHeadingLight {
        color: $white;
        font-weight: 300;
    }

    .headingLight,
    .headingDark {
        font-size: 36px;
        margin-top: 20px;

        @include media(sm) {
            font-size: 40px;
        }
    }

    .headingDark {
        color: $primary-blue;
    }

    .headingLight {
        color: $white;
    }
}
