@import '/styles/__main';
@import '/styles/0_variables.scss';

.mobileDropdown {
    display: inline-block;
    @include media(md) {
        display: none;
    }
}

.desktopDropdown {
    display: none;
    @include media(md) {
        display: block;
    }
}
