@import '/styles/__main';
@import '/styles/0_variables.scss';

.telephoneWrapper {
    color: $primary-green;
    font-size: 16px;

    .telephoneContainer {
        position: fixed;
        -webkit-tap-highlight-color: transparent;
        top: 125px;
        transition: 0.3s ease-out;
        right: 0;
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
        padding: 10px 10px 10px 25px;
        z-index: 100;
        cursor: pointer;
        background-color: $white;

        @include media(md) {
            padding: 15px 15px 15px 33px;
        }

        img {
            height: 34px;
            margin-bottom: -5px;
            width: 35px;
            z-index: 10;

            @include media(md) {
                width: 49px;
                height: 49px;
            }
        }
    }

    .telephoneContainerOpen {
        right: 211px;
        transition: 0.3s ease-in;
    }

    .telephoneEntryContainer {
        transition: 0.3s ease-out;
        position: fixed;
        top: 125px;
        right: -212px;
        padding: 20px 30px 30px;
        background-color: $white;
        z-index: -2;

        a {
            color: $primary-green;

            &:hover {
                color: $primary-blue;
                transition: 0.2s ease-in-out;
            }
        }

        .telephoneEntry {
            margin: 3px;
            color: $primary-green;
            font-size: 16px;
        }
    }

    .telephoneEntryContainerOpen {
        right: 0px;
        transition: 0.3s ease-in;
        z-index: 100;
    }
}
